@using DelivCore.DataLayer.Constants
@model global:: DelivCore.Models.Layout.NavbarModel

<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-messages" id="nav">
            @foreach (var item in Model.Messages)
            {
                <li>
                    <a href="Message/Index">
                        <div>
                            <strong>@item.PersonFrom</strong>
                            <span class="pull-right text-muted">
                                <em>@item.CreatedOn</em>
                            </span>
                        </div>
                        <div>@item.MessageBody</div>
                    </a>
                </li>
            }
            <li>
                <a href="#" data-toggle="modal" data-target="#messageModal" class="text-right"><i class="fa fa-send fa-fw"></i> SendMessage</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-tasks">
            <li>
                <a href="/Order/Index/?status=@StatusConstants.Accepted">
                    <div>
                        <p>
                            <strong>Completed Today</strong>
                            <span class="pull-right text-muted">@Model.AcceptedToday Complete</span>
                        </p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@Model.AcceptedToday" aria-valuemin="0" aria-valuemax="100" style="width: '@Model.AcceptedToday'">
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/Order/Index/?status=@StatusConstants.Processed">
                    <div>
                        <p>
                            <strong>In progress</strong>
                            <span class="pull-right text-muted">@Model.ProcessedToday in progress</span>
                        </p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="@Model.ProcessedToday" aria-valuemin="0" aria-valuemax="100" style="width: '@Model.ProcessedToday'">
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu">
            <li>
                <div>
                    <p>
                        <strong>@Model.UserLoggedIn</strong>
                    </p>
                </div>
            </li>
            <li>
                @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("Logout", "Account")"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                }
                else
                {
                    <a href="@Url.Action("Login", "Account")"><i class="fa fa-sign-out fa-fw"></i> Login</a>
                }
            </li>
        </ul>
    </li>
</ul>
